<!DOCTYPE html>
<html>

  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/panel/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/panel/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/panel/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/panel/site.webmanifest') }}">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/materialize/materialize.min.css') }}" media="screen,projection" />
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" />
  <!-- CUSTOM JAVA-SCRIPT -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- CUSTOM AJAX LIBRARY -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/easyhttp.js') }}"></script>
  <title>Blog Panel</title>
</head>

<body class="grey lighten-4">

      <!-- Section: Navbar -->
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="{{ url_for('home') }}" class="brand-logo">tcpzix Admin</a>
        <a href="#" data-activates="side-nav" class="button-collapse show-on-large right"><i
            class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('panel') }}">Dashboard</a></li>
          <li><a href="{{ url_for('posts') }}">Posts</a></li>
          <li><a href="{{ url_for('categories') }}">Categories</a></li>
          <li class="active"><a href="{{ url_for('comments') }}">Comments</a></li>
          <li><a href="{{ url_for('users') }}">Users</a></li>
        </ul>

        <!-- Side nav -->
        <ul id="side-nav" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="{{ url_for('static', filename='img/ocean.jpg') }}" />
              </div>
              <a href="#">
                <img src="{{ url_for('static', filename='img/tcpzix-avatar.png') }}" alt="" class="circle" />
              </a>
              <a href="#">
                <span class="name white-text">tcpzix</span>
              </a>
              <a href="#">
                <span class="email white-text">tcpzix@gmail.com</span>
              </a>
            </div>
          </li>
          <li>
            <a href="{{ url_for('panel') }}"><i class="material-icons">dashboard</i> Dashboard</a>
          </li>
          <li><a href="{{ url_for('posts') }}">Posts</a></li>
          <li><a href="{{ url_for('categories') }}">Categories</a></li>
          <li><a href="{{ url_for('comments') }}">Comments</a></li>
          <li><a href="{{ url_for('users') }}">Users</a></li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a class="subheader">Account Controls</a>
          </li>
          <li>
            <a href="{{ url_for('logout') }}" class="waves-effect">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!-- Section: Comment Card -->
   <section class="section section-posts grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Posts</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>Post ID</th>
                    <th>Name|Email</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for comment in comments %}
                    <tr>
                      <td>{{ comment.post_id }}</td>
                      <td>{{ comment.name }} | {{ comment.email }}</td>
                      <td>{{ comment.message }}</td>
                      <td id="commentdate{{ comment.id }}"></td>
                      <script>faDate('{{ comment.id }}','{{ comment.date.strftime('%Y-%m-%d') }}', 'commentdate');</script>
                      <td>
                        <a href="#editCat-modal" class="approve green-text modal-trigger">Replay</a> |
                        <a href="#del-modal"   class=" deny red-text modal-trigger">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: Footer -->
  <footer class="section red lighten-1 center-align white-text">
    <p>tcpzix blog admin panel Copyright 2020</p>
  </footer>


  <!--preloader -->
  <div class="loader preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Materialize js -->
  <script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>

  <script>
    //Hide Section
    $(".section").hide();

    setTimeout(function () {
      $(document).ready(function () {
        //Show Sections
        $(".section").fadeIn();

        //Hide preloader
        $(".loader").fadeOut();

        //Init Side nav
        $(".button-collapse").sideNav();

        //init modal
        $(".modal").modal();

      });
    }, 1000);
  </script>
</body>
</html>