{% extends 'layout.html'%}
{% block headmsg %}
    <h4 class="center">درباره من</h4>
{% endblock headmsg %}

{% block body%}
    <section>
        <div class="row">
            <div class="col s12">
                <div class="container right-align">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas excepturi, aspernatur laudantium dolores corporis consectetur facilis, cum distinctio porro id est dolor error officia quod consequuntur voluptatum, quae nulla illo!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}