{% extends 'layout.html' %}
{% block headmsg %}
    <div class="container center">
        <h5>این بخش مطالب</h5>
        <div class="chip pink">
            <img src="{{ url_for('static', filename='/img/python1.jpg') }}">
            Python
        </div>
    </div>
{% endblock headmsg %}
{% block body %}
    {% include '_post.html' %}
{% endblock %}
{% block script %}
    <script>
        const post = document.querySelectorAll('.post-content');
        post.forEach(post => truncate(post, 100, '.....'));
    </script>
{% endblock script %}