{% extends 'layout.html' %}
{% set active_page = 'resume' %}

{% block headmsg %}
    <h5 class="center">رزومه</h5>
{% endblock headmsg %}

{% block body %}
<section>
    <div class="row">
        <div class="col s12">
            <div class="container">
                <p class="right-align">اینجارو بعدا سر فرست قراره تکمیل کنم ولی علل حساب از لینک زیر میتونید رزومه منو دریافت کنید</p>
                <br>
                <a href="https://jobinja.ir/user/qasemi/download" class="waves-effect waves-light btn left">دانلود رزومه</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}